/* Colores que tendra por default */
body {
    background-color: white;
    color: black;
    }

p {
  color: red;
  }

 /* Clase con los colores que cambiara */
 .black {
    background-color: black;
    color: white;
    }

  